body{
    margin:0px;
    padding: 0px;
    background-color: rgba(34, 190,45, 0.4);
    
}
#form{
    width: 300px;
    height: 400px;
    background-color:rgb(105, 145, 145);
    opacity: 0.6;
    margin: 120px auto;
}
.login{
    text-align: center;
    padding-top:50px ;
    font-size: 40px;
    color:black;
    font-weight: 500px;
}
.hello{
    text-align: center;
    margin:20px 50px;
    height: 30px;
    width: 200px;
    border-radius: 20px;
    border: solid;
    border-width: thin;
    background-color: rgba(34, 190,45, 0.4);
    text-decoration: whitesmoke;
    cursor: pointer;
    
}
.hello:hover{
    background-color: rgba(100, 130, 30, 0.2);
}
#submit{
    width: 90px;
    margin-left: 100px;
}
